@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i");
body {
  text-align: center; }

html,
body,
#root,
.container {
  height: 100%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.cubeContainer {
  display: inline-block;
  margin-top: 20%;
  perspective: 600px; }

.cube {
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 13s linear infinite;
  transform-origin: center;
  width: 150px;
  height: 150px; }

@keyframes rotateCube {
  0% {
    transform: rotate3d(0, 1, 1, 0deg); }
  50% {
    transform: rotate3d(1, 0, 1, 180deg); }
  100% {
    transform: rotate3d(1, 1, 0, 360deg); } }

.square {
  width: 150px;
  height: 150px;
  *border: 1px solid #000;
  position: absolute;
  transform-origin: center;
  border: 1px solid; }

.front {
  background-color: rgba(255, 0, 0, 0.4);
  transform: translate3d(0, 0, 75px); }

.back {
  background-color: rgba(0, 255, 0, 0.4);
  transform: rotateY(180deg) translate3d(0, 0, 75px); }

.right {
  background-color: rgba(0, 0, 255, 0.4);
  transform: rotateY(90deg) translate3d(0, 0, 75px); }

.left {
  background-color: rgba(255, 255, 0, 0.4);
  transform: rotateY(-90deg) translate3d(0, 0, 75px); }

.bottom {
  background-color: rgba(255, 0, 255, 0.4);
  transform: rotateX(-90deg) translate3d(0, 0, 75px); }

.top {
  background-color: rgba(0, 255, 255, 0.4);
  transform: rotateX(90deg) translate3d(0, 0, 75px); }

.settings {
  margin-top: 10%; }

.settings > div {
  margin: 1% 0; }

.colorPickerSV,
.colorPickerH {
  border-collapse: collapse;
  min-width: 200px;
  max-width: 400px;
  width: 100%; }

.colorPickerSV td {
  padding: 0;
  border: none;
  width: 1px;
  height: 1px; }

.colorPickerH {
  margin: 30px 0; }

.colorPickerH td {
  height: 10px;
  width: 1px; }

.preview {
  height: 20px;
  width: 20px;
  border: 1px solid #ffffff; }

.calculatorContainer {
  width: 100%;
  height: 100%;
  background-color: #143232;
  color: #5aff64;
  user-select: none; }

.calcColumn {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  margin: 4px; }

.calcColumn.calcColumn-4 {
  min-width: 224px; }

.calcColumn > div {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid #5aff64;
  color: #5aff64;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 20px;
  box-shadow: #008d09 3px 2px; }

.calcColumn div.mousedown {
  box-shadow: none;
  margin-left: 3px;
  margin-top: 2px; }

.calcColumn > div > span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; }

.calcRow.resultRow .calcColumn {
  min-height: 75px; }

.calcRow.resultRow .previewVal {
  top: 2%;
  left: 2%;
  transform: translate(0);
  font-size: 16px;
  font-weight: 400; }

.canvas {
  border: 1px solid; }

.golContainer {
  height: 100%; }

.golSettings {
  height: 30px; }

.golTable {
  width: 100%;
  height: calc(100% - 30px);
  border-collapse: collapse; }

.cell {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.cellHover {
  background-color: rgba(255, 0, 0, 0.2); }

.cellLives {
  background-color: red;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) inset; }
